.card {
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
  padding: 2px !important;
}

.a-btn {
  border: none;
  background-color: transparent;
}

.clientLoanInfoClass {
  background: #021a66;
  color: white;
  padding-top: 5px;
  padding-left: 17px;
}

.nav-tabs {
  background-color: white !important;
}

h4 {
  font-size: 18px !important;
  font-family: poppins;
}

.clientLoanInfoClassv1 {
  background: rgba(114, 114, 114, 0.67);
  color: black;
  padding-top: 5px;
  padding-left: 17px;
}

.clientLoanInfoClassv1 .clientInfoKeyClass {
  color: white;
}

.clientInfoValueClass {
  margin-top: 17px;
  margin-bottom: -2px;
  font-family: poppins;
}

.clientInfoKeyClass {
  color: #93a9ef;
  font-family: poppins;
}

.centerCol {
  text-align: center;
}

.text-danger {
  padding: 2px 5px !important;
  background-color: gray;
  color: white !important;
  border-radius: 10px;
  width: 90px !important;
}

.text-primary {
  padding: 2px 5px !important;
  background-color: green;
  color: white !important;
  border-radius: 10px;
  width: 90px !important;
}
