.card {
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
  padding: 2px !important;
}

.a-btn {
  border: none;
  background-color: transparent;
}

.text-danger {
  padding: 2px 5px !important;
  background-color: gray;
  color: white !important;
  border-radius: 10px;
}

.text-primary {
  padding: 2px 5px !important;
  background-color: green;
  color: white !important;
  border-radius: 10px;
}
