.content {
    margin-top: 60px !important;
    margin-left: 100px;
    transition: 0.3s;
    &.sidebarExpanded {
      margin-left: 200px !important;
      padding: 15px;
      height: 91vh !important;
    }
  }

  .s-verified{
    background-color: rgb(218, 218, 218);
    border-radius: 20px !important;
    color: green;
    font-size: 9px !important;
    padding: 2px !important;
  }